.light-background,
:root {
    --surface-color: #ffffff;
}
.dark-background,
:root {
    --contrast-color: #ffffff;
}
a,
a:hover {
    text-decoration: none;
}
.php-email-form .error-message,
.php-email-form .loading,
.php-email-form .sent-message {
    display: none;
    padding: 15px;
    margin-bottom: 24px;
}
.header,
body {
    color: var(--default-color);
    background-color: var(--background-color);
}
.footer,
.header,
body {
    background-color: var(--background-color);
}
:root {
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Roboto", sans-serif;
    --nav-font: "Poppins", sans-serif;
    --background-color: #ffffff;
    --default-color: #364d59;
    --heading-color: #52565e;
    --accent-color: #feb900;
    --nav-color: rgba(255, 255, 255, 0.55);
    --nav-hover-color: #ffffff;
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #212529;
    --nav-dropdown-hover-color: #feb900;
    scroll-behavior: smooth;
}
.dark-background,
.header {
    --default-color: #ffffff;
    --heading-color: #ffffff;
}
.light-background {
    --background-color: #f4f7f6;
}
.dark-background {
    --background-color: #060606;
    --surface-color: #252525;
}
body {
    font-family: var(--default-font);
}
a {
    color: var(--accent-color);
    transition: 0.3s;
}
a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}
.php-email-form .error-message {
    background: #df1529;
    color: #fff;
    text-align: left;
    font-weight: 600;
}
.php-email-form .sent-message {
    color: #fff;
    background: #059652;
    text-align: center;
    font-weight: 600;
}
.php-email-form .loading {
    background: var(--surface-color);
    text-align: center;
}
.php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--accent-color);
    border-top-color: var(--surface-color);
    animation: 1s linear infinite php-email-form-loading;
}
@keyframes php-email-form-loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Navbar Styling */
.header {
    background-color: #fcf9f9;
    padding: 15px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.header .logo img {
    max-height: 40px;
}

.navmenu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navmenu li {
    margin: 0 15px;
}

.navmenu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease;
}

.navmenu a:hover,
.navmenu .active {
    color: #0c0c0c;
}

.navmenu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #feb900;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navmenu a:hover::after,
.navmenu .active::after {
    width: 100%;
}

/* Dropdown Menu */
.navmenu .dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #e9e4e4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.navmenu .dropdown:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.navmenu .dropdown ul li {
    padding: 10px 20px;
}

.navmenu .dropdown ul a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
}

.navmenu .dropdown ul a:hover {
    color: #feb900;
}


.footer .social-links a,
.hero .info p,
.page-title .breadcrumbs ol li + li::before {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}
.get-started .content h3:after,
.hero .info .btn-get-started:hover,
.hero .info h2:after,
.services .service-item:hover .icon:before {
    background: var(--accent-color);
}
.footer,
.footer .container,
.footer h4,
.team .member {
    position: relative;
}
.footer {
    color: var(--default-color);
    background: url(../img/footer-bg.jpg) top center/cover no-repeat;
    font-size: 14px;
}
.footer:before,
.page-title:before {
    position: absolute;
    content: "";
    inset: 0;
}
.footer:before {
    background: color-mix(in srgb, var(--background-color), transparent 20%);
}
.hero .carousel-item,
.page-title {
    background-position: center;
    background-repeat: no-repeat;
}
.footer .footer-top {
    padding-top: 50px;
}
.footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 25px;
}
.footer .footer-about .logo img {
    max-height: 40px;
    margin-right: 6px;
}
.footer .footer-about .logo span {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer .footer-about p {
    font-size: 14px;
    font-family: var(--heading-font);
}
.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    margin-right: 10px;
    transition: 0.3s;
}
.footer .social-links a:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}
.footer h4 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 12px;
}
.footer .footer-links {
    margin-bottom: 30px;
}
.categories-widget ul,
.footer .footer-links ul,
.tags-widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .footer-links ul i {
    padding-right: 2px;
    font-size: 12px;
    line-height: 0;
}
.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer .footer-links ul li:first-child {
    padding-top: 0;
}
.footer .footer-links ul a {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    display: inline-block;
    line-height: 1;
}
.about .watch-video:hover a,
.alt-services .icon-box h4 a:hover,
.blog-comments .comment h5 a:hover,
.blog-details .meta-bottom a:hover,
.blog-posts article:hover .post-title,
.blog-posts article:hover .readmore,
.categories-widget ul a:hover,
.footer .footer-links ul a:hover,
.projects .portfolio-content .portfolio-info .details-link:hover,
.projects .portfolio-content .portfolio-info .preview-link:hover,
.projects .portfolio-filters li.filter-active,
.projects .portfolio-filters li:hover,
.recent-blog-posts .post-item:hover .post-title,
.recent-blog-posts .post-item:hover .readmore,
.recent-posts-widget .post-item h4 a:hover,
.services .service-item:hover .readmore,
.team .member .member-img .social a:hover {
    color: var(--accent-color);
}
.footer .footer-contact p {
    margin-bottom: 5px;
}
.footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}
.about .our-story p:last-child,
.features .tab-pane p:last-child,
.footer .copyright p,
.recent-posts-widget .post-item:last-child,
.section-title p,
.widget-item:last-child {
    margin-bottom: 0;
}
.footer .credits {
    margin-top: 8px;
    font-size: 13px;
}
#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: var(--background-color);
    transition: 0.6s ease-out;
}
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #fff;
    border-color: var(--accent-color) #fff0 var(--accent-color) #fff0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: 1.5s linear infinite animate-preloader;
}
@keyframes animate-preloader {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: 0.4s;
}
.page-title,
.section,
section {
    color: var(--default-color);
    background-color: var(--background-color);
}
.scroll-top i {
    font-size: 24px;
    color: var(--default-color);
    line-height: 0;
}
.scroll-top:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
}
.scroll-top.active {
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}
.page-title {
    background-size: cover;
    padding: 160px 0 60px;
    text-align: center;
    position: relative;
}
.page-title:before {
    background-color: color-mix(in srgb, var(--background-color), transparent 40%);
}
.hero,
.hero .info,
.hero .info h2,
.section-title,
.section-title h2 {
    position: relative;
}
.page-title h1 {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 10px;
}
.page-title .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
.page-title .breadcrumbs ol li + li {
    padding-left: 10px;
}
.page-title .breadcrumbs ol li + li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
}
.section,
section {
    padding: 60px 0;
    scroll-margin-top: 92px;
    overflow: clip;
}
@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: black;
        font-size: 28px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }
    .navmenu {
        padding: 0;
        z-index: 9997;
    }
    .navmenu ul {
        display: none;
        list-style: none;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: var(--nav-mobile-background-color);
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        box-shadow: none;
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
    }
    .navmenu a,
    .navmenu a:focus {
        color: var(--nav-dropdown-color);
        padding: 10px 20px;
        font-family: var(--nav-font);
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }
    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    }
    .navmenu a i:hover,
    .navmenu a:focus i:hover {
        background-color: var(--accent-color);
        color: var(--contrast-color);
    }
    .navmenu .active,
    .navmenu .active:focus,
    .navmenu a:hover {
        color: var(--nav-dropdown-hover-color);
    }
    .navmenu .active i,
    .navmenu .active:focus i {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        transform: rotate(180deg);
    }
    .navmenu .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: var(--nav-dropdown-background-color);
        transition: 0.5s ease-in-out;
    }
    .navmenu .dropdown ul ul {
        background-color: rgb(33 37 41 / 0.1);
    }
    .navmenu .dropdown > .dropdown-active {
        display: block;
        background-color: rgb(33 37 41 / 0.03);
    }
    .mobile-nav-active {
        overflow: hidden;
    }
    .mobile-nav-active .mobile-nav-toggle {
        color: #141313;
        position: absolute;
        font-size: 32px;
        top: 15px;
        right: 15px;
        margin-right: 0;
        z-index: 9999;
    }
    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgb(33 37 41 / 0.8);
        transition: 0.3s;
    }
    .mobile-nav-active .navmenu > ul {
        display: block;
    }
    .section,
    section {
        scroll-margin-top: 76px;
    }
}
.section-title {
    text-align: center;
    padding-bottom: 60px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
}
.section-title h2:after,
.section-title h2:before {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--accent-color);
    display: inline-block;
}
.section-title h2:before {
    margin: 0 15px 10px 0;
}
.section-title h2:after {
    margin: 0 0 10px 15px;
}
.hero {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f5f2f2;
}
.hero .info {
    inset: 0;
    z-index: 3;
    padding: 140px 0 60px;
}
.hero .info .big-title {
    font-size: 60px;
    font-weight: 700;
    color: var(--contrast-color);
}
.hero .info .small-title {
    font-size: 30px;
    font-weight: 500;
    color: var(--contrast-color);
}
.hero .info h2 {
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 56px;
    font-weight: 700;
}
.hero .info h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.hero .info p {
    font-size: 18px;
}
.hero .info .btn-get-started {
    color: var(--contrast-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid var(--accent-color);
}
@media (max-width: 768px), (max-height: 480px) {
    .hero .info {
        padding: 50px 20px;
    }
}
.hero .carousel {
    inset: 0;
    position: absolute;
    overflow: hidden;
    filter: none !important;
    opacity: 1 !important;
    z-index: 1 !important;
    background: none !important;
}
.hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    overflow: hidden;
    transition-duration: 0.4s;
    filter: none !important;
    opacity: 1 !important;
    z-index: 1 !important;
    background: none !important;

}
.alt-services .features-image img,
.alt-services-2 .features-image img,
.hero .carousel-item img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    background: none !important;
}

@media (min-width: 640px) {
    .hero .carousel-control-prev {
        padding-left: 15px;
    }
    .hero .carousel-control-next {
        padding-right: 15px;
    }
}

@media (max-width: 768px) {
    .hero .info h2 {
        font-size: 36px;
    }
    .hero .carousel-item {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        margin-top: -30px;
        
    }
    .hero {
        padding: 0 0 50px;
    }
    .get-started {
        margin-top: -150px;
    }
}
.get-started .content {
    padding: 30px 0;
}
.get-started .content h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
}
.get-started .content h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 4px;
    left: 0;
    bottom: 0;
}
.comment-form form p,
.get-started .content p {
    font-size: 14px;
}
.get-started .php-email-form {
    background: color-mix(in srgb, var(--default-color), transparent 97%);
    padding: 30px;
    height: 100%;
}
.get-started .php-email-form h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.get-started .php-email-form p {
    font-size: 14px;
    margin-bottom: 20px;
}
.get-started .php-email-form input[type="email"],
.get-started .php-email-form input[type="text"],
.get-started .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: color-mix(in srgb, var(--background-color), transparent 20%);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}
.contact .php-email-form input[type="email"]:focus,
.contact .php-email-form input[type="text"]:focus,
.contact .php-email-form textarea:focus,
.get-started .php-email-form input[type="email"]:focus,
.get-started .php-email-form input[type="text"]:focus,
.get-started .php-email-form textarea:focus,
.service-details .services-list a:hover {
    border-color: var(--accent-color);
}
.get-started .php-email-form input[type="email"]::placeholder,
.get-started .php-email-form input[type="text"]::placeholder,
.get-started .php-email-form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
}
.get-started .php-email-form button[type="submit"] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 4px;
}
.contact .php-email-form button[type="submit"]:hover,
.get-started .php-email-form button[type="submit"]:hover,
.project-details .portfolio-info .btn-visit:hover,
.search-widget form button:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
}
.constructions .card-item {
    background-color: var(--surface-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
    position: relative;
    border-radius: 0;
}
.constructions .card-item .card-bg {
    min-height: 300px;
    position: relative;
}
.about .about-img img,
.constructions .card-item .card-bg img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}
.blog-posts .post-content,
.constructions .card-item .card-body,
.recent-blog-posts .post-item .post-content {
    padding: 30px;
}
.constructions .card-item h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}
.constructions .card-item p {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin: 0;
}
.services .service-item {
    background-color: var(--surface-color);
    padding: 40px;
    box-shadow: 0 0 30px rgb(0 0 0 / 0.1);
    height: 100%;
}
.services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
}
.services .service-item .icon i {
    color: var(--heading-color);
    font-size: 56px;
    transition: 0.3s ease-in-out;
    z-index: 2;
    position: relative;
}
.services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: color-mix(in srgb, var(--heading-color), transparent 95%);
    border-radius: 50px;
    z-index: 1;
    top: 10px;
    right: -20px;
    transition: 0.3s;
}
.services .service-item h3 {
    color: color-mix(in srgb, var(--heading-color), transparent 20%);
    font-weight: 700;
    margin: 0 0 20px;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid color-mix(in srgb, var(--heading-color), transparent 90%);
    transition: 0.3s;
}
.alt-services h3:after,
.features .tab-pane h3:after {
    display: block;
    background: var(--accent-color);
    bottom: 0;
    position: absolute;
    height: 3px;
    content: "";
    left: 0;
}
.alt-services .icon-box p,
.alt-services-2 .icon-box p,
.services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.services .service-item .readmore {
    margin-top: 15px;
    display: inline-block;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
}
.services .service-item:hover .icon i {
    color: var(--heading-color);
}
.services .service-item:hover h3 {
    border-color: var(--accent-color);
    color: var(--heading-color);
}
.alt-services .features-image,
.alt-services-2 .features-image {
    position: relative;
    min-height: 400px;
}
.alt-services h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.alt-services h3:after {
    width: 50px;
}
.alt-services .icon-box {
    margin-top: 50px;
}
.alt-services .icon-box i {
    color: var(--accent-color);
    background-color: var(--surface-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    font-size: 28px;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    line-height: 0;
    box-shadow: 0 2px 30px rgb(0 0 0 / 0.1);
    transition: 0.3s;
}
.alt-services .icon-box:hover i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}
.alt-services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}
.alt-services .icon-box h4 a {
    color: var(--heading-color);
    transition: 0.3s;
}
.features .nav-tabs {
    border: 0;
}
.features .nav-link {
    color: var(--heading-color);
    padding: 15px 0;
    transition: 0.3s;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 4px solid color-mix(in srgb, var(--default-color), transparent 90%);
}
.features .nav-link i {
    padding-right: 15px;
    font-size: 48px;
}
.features .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.features .nav-link:hover {
    color: var(--accent-color);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}
.features .nav-link.active {
    background-color: var(--background-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
}
.alt-services-2 .icon-box,
.features .tab-content,
.team .member .member-info {
    margin-top: 30px;
}
.features .tab-pane h3 {
    color: var(--heading-color);
    font-weight: 700;
    font-size: 32px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.features .tab-pane h3:after {
    width: 60px;
}
.features .tab-pane ul {
    list-style: none;
    padding: 0;
}
.comment-form,
.features .tab-pane ul li {
    padding-top: 10px;
}
.features .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--accent-color);
}
.projects .portfolio-filters {
    padding: 0;
    margin: 0 auto 20px;
    list-style: none;
    text-align: center;
}
.projects .portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px 5px;
    line-height: 1;
    transition: 0.3s ease-in-out;
}
.projects .portfolio-filters li:first-child {
    margin-left: 0;
}
.projects .portfolio-filters li:last-child {
    margin-right: 0;
}
.projects .portfolio-content {
    position: relative;
    overflow: hidden;
}
.projects .portfolio-content img {
    transition: 0.3s;
}
.projects .portfolio-content .portfolio-info {
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 3;
    transition: 0.3s ease-in-out;
    background: rgb(0 0 0 / 0.6);
    padding: 15px;
}
.projects .portfolio-content .portfolio-info h4 {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    background-color: var(--accent-color);
}
.projects .portfolio-content .portfolio-info p {
    position: absolute;
    bottom: 10px;
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255 255 255 / 0.8);
}
.projects .portfolio-content .portfolio-info .details-link,
.projects .portfolio-content .portfolio-info .preview-link {
    position: absolute;
    left: calc(50% - 40px);
    font-size: 26px;
    top: calc(50% - 14px);
    color: #fff;
    transition: 0.3s;
    line-height: 1.2;
}
.projects .portfolio-content .portfolio-info .details-link {
    left: 50%;
    font-size: 34px;
    line-height: 0;
}
.projects .portfolio-content:hover .portfolio-info {
    opacity: 1;
}
.blog-posts article:hover .post-img img,
.projects .portfolio-content:hover img,
.recent-blog-posts .post-item:hover .post-img img {
    transform: scale(1.1);
}
.testimonials .testimonial-wrap {
    padding-left: 50px;
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}
.testimonials .testimonial-item {
    background-color: var(--surface-color);
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.1);
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    position: relative;
}
.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 10px;
    border: 6px solid var(--background-color);
    position: absolute;
    left: -45px;
}
.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 5px;
}
.testimonials .testimonial-item h4 {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 14px;
    margin: 0;
}
.testimonials .testimonial-item .stars {
    margin: 10px 0;
}
.testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: color-mix(in srgb, var(--accent-color), transparent 60%);
    font-size: 26px;
    line-height: 0;
}
.project-details .portfolio-description .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}
.project-details .portfolio-description .testimonial-item .quote-icon-right,
.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
}
.testimonials .testimonial-item p {
    font-style: italic;
    margin: 15px auto;
}
.project-details .swiper-wrapper,
.testimonials .swiper-wrapper {
    height: auto;
}
.project-details .swiper-pagination,
.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--background-color);
    opacity: 1;
    border: 1px solid var(--accent-color);
}
.project-details .swiper-pagination .swiper-pagination-bullet-active,
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--accent-color);
}
@media (max-width: 767px) {
    .testimonials .testimonial-wrap {
        padding-left: 0;
    }
    .testimonials .testimonials-carousel,
    .testimonials .testimonials-slider {
        overflow: hidden;
    }
    .testimonials .testimonial-item {
        padding: 30px;
        margin: 15px;
    }
    .testimonials .testimonial-item .testimonial-img {
        position: static;
        left: auto;
    }
}
.recent-blog-posts .post-item {
    background: var(--surface-color);
    box-shadow: 0 2px 20px rgb(0 0 0 / 0.1);
    transition: 0.3s;
}
.blog-posts .post-img img,
.recent-blog-posts .post-item .post-img img {
    transition: 0.5s;
}
.recent-blog-posts .post-item .post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--accent-color);
    color: var(--contrast-color);
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
}
.recent-blog-posts .post-item .post-title {
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
}
.blog-posts .meta i,
.recent-blog-posts .post-item .meta i {
    font-size: 16px;
    color: var(--accent-color);
}
.recent-blog-posts .post-item .meta span {
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
}
.recent-blog-posts .post-item hr {
    color: color-mix(in srgb, var(--default-color), transparent 80%);
    margin: 20px 0;
}
.about .our-story h4,
.project-details .portfolio-info ul strong {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    text-transform: uppercase;
}
.recent-blog-posts .post-item .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
}
.blog-posts .readmore i,
.recent-blog-posts .post-item .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: 16px;
}
.about .inner-title {
    font-size: 2.75rem;
    font-weight: 700;
    margin: 30px 0;
}
.about .our-story {
    padding: 40px;
    background-color: color-mix(in srgb, var(--default-color), transparent 96%);
}
@media (min-width: 991px) {
    .about .inner-title {
        max-width: 65%;
        margin: 0 0 80px;
    }
    .about .our-story {
        padding-right: 35%;
    }
}
.about .our-story h4 {
    font-size: 1.1rem;
}
.about .our-story h3 {
    font-size: 2.25rem;
    font-weight: 700;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}
.about ul,
.project-details .portfolio-info ul,
.service-details ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}
.about ul li,
.service-details ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.about ul i {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    line-height: 1.2;
    color: var(--accent-color);
}
.about .watch-video i {
    font-size: 2rem;
    transition: 0.3s;
    color: var(--accent-color);
}
.about .watch-video a {
    font-weight: 600;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin-left: 8px;
    transition: 0.3s;
}
.about .about-img {
    min-height: 400px;
    position: relative;
}
@media (min-width: 992px) {
    .about .about-img {
        position: absolute;
        top: 0;
        right: 0;
        min-height: 600px;
    }
}
.stats-counter .stats-item {
    box-shadow: 0 0 30px rgb(0 0 0 / 0.1);
    padding: 30px;
}
.stats-counter .stats-item i {
    color: var(--accent-color);
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
}
.stats-counter .stats-item span {
    color: var(--heading-color);
    font-size: 36px;
    display: block;
    font-weight: 600;
}
.stats-counter .stats-item p {
    padding: 0;
    margin: 0;
    font-family: var(--heading-font);
    font-size: 16px;
}
.alt-services-2 h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
.alt-services-2 .icon-box i {
    color: var(--accent-color);
    margin-right: 15px;
    font-size: 24px;
    line-height: 1.2;
}
.features-cards p,
.service-details .services-list a {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}
.alt-services-2 .icon-box h4 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}
.team .member .member-img {
    margin: 0 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
@media (max-width: 1024px) {
    .team .member .member-img {
        margin: 0 60px;
    }
}
.team .member .member-img img {
    position: relative;
    z-index: 1;
}
.team .member .member-img .social {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-bottom: 20px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}
.team .member .member-img .social a {
    transition: 0.3s;
    color: var(--contrast-color);
    font-size: 20px;
    margin: 0 8px;
}
.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 18px;
}
.team .member .member-info span {
    font-style: italic;
    display: block;
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin-bottom: 10px;
}
.team .member .member-info p {
    margin-bottom: 0;
    font-size: 14px;
}
.team .member:hover .member-img .social {
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
}
.features-cards h3,
.service-details h4 {
    font-size: 20px;
    font-weight: 700;
}
.features-cards p {
    font-size: 15px;
}
.features-cards ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-top: 10px;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
}
.features-cards ul li i {
    font-size: 16px;
    color: var(--accent-color);
    margin-right: 6px;
}
.service-details .services-list {
    background-color: var(--surface-color);
    padding: 10px 30px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    margin-bottom: 20px;
}
.service-details .services-list a {
    display: block;
    line-height: 1;
    padding: 8px 0 8px 15px;
    border-left: 3px solid color-mix(in srgb, var(--default-color), transparent 70%);
    margin: 20px 0;
    transition: 0.3s;
}
.service-details .services-list a.active {
    color: var(--heading-color);
    font-weight: 700;
    border-color: var(--accent-color);
}
.service-details .services-img {
    margin-bottom: 20px;
}
.service-details h3 {
    font-size: 26px;
    font-weight: 700;
}
.service-details p {
    font-size: 15px;
}
.service-details ul i {
    font-size: 20px;
    margin-right: 8px;
    color: var(--accent-color);
}
.blog-pagination,
.blog-pagination li a,
.blog-posts .meta span {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
}
.project-details .portfolio-details-slider img {
    width: 100%;
}
.project-details .swiper-button-next,
.project-details .swiper-button-prev {
    width: 48px;
    height: 48px;
}
.project-details .swiper-button-next:after,
.project-details .swiper-button-prev:after {
    color: rgb(255 255 255 / 0.8);
    background-color: rgb(0 0 0 / 0.15);
    font-size: 24px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.project-details .swiper-button-next:hover:after,
.project-details .swiper-button-prev:hover:after {
    background-color: rgb(0 0 0 / 0.3);
}
.project-details .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: color-mix(in srgb, var(--default-color), transparent 85%);
    opacity: 1;
}
.project-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.project-details .portfolio-info h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    bottom: 0;
}
.project-details .portfolio-info ul li {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.project-details .portfolio-info ul strong {
    font-weight: 400;
    font-size: 14px;
}
.project-details .portfolio-info .btn-visit {
    padding: 8px 40px;
    background: var(--accent-color);
    color: var(--contrast-color);
    border-radius: 50px;
    transition: 0.3s;
}
.project-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}
.project-details .portfolio-description p {
    padding: 0;
}
.project-details .portfolio-description .testimonial-item {
    padding: 30px 30px 0;
    position: relative;
    background: color-mix(in srgb, var(--default-color), transparent 97%);
    margin-bottom: 50px;
}
.project-details .portfolio-description .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50px;
    border: 6px solid var(--background-color);
    float: left;
    margin: 0 10px 0 0;
}
.project-details .portfolio-description .testimonial-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0 5px;
    padding-top: 20px;
}
.project-details .portfolio-description .testimonial-item h4 {
    font-size: 14px;
    color: #6c757d;
    margin: 0;
}
.project-details .portfolio-description .testimonial-item .quote-icon-left,
.project-details .portfolio-description .testimonial-item .quote-icon-right {
    color: color-mix(in srgb, var(--accent-color), transparent 50%);
    font-size: 26px;
    line-height: 0;
}
.project-details .portfolio-description .testimonial-item p {
    font-style: italic;
    margin: 0 0 15px;
    padding: 0;
}
.blog-posts article {
    background-color: var(--surface-color);
    box-shadow: 0 2px 20px rgb(0 0 0 / 0.1);
    transition: 0.3s;
}
.blog-author .author-container,
.blog-details .article,
.comment-form form,
.widgets-container {
    box-shadow: 0 4px 16px rgb(0 0 0 / 0.1);
}
.blog-posts .post-date {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    position: absolute;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
}
.blog-author h4,
.blog-comments .comment h5 .reply i,
.widget-title {
    font-size: 20px;
}
.blog-posts .post-title {
    font-size: 20px;
    color: var(--heading-color);
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
}
.blog-posts .meta span {
    font-size: 15px;
}
.blog-details .content,
.blog-posts p {
    margin-top: 20px;
}
.blog-posts hr {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    margin-bottom: 15px;
}
.blog-author h4,
.blog-comments .comment h5 .reply {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}
.blog-posts .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: color-mix(in srgb, var(--heading-color), transparent 20%);
}
.blog-pagination {
    padding-top: 0;
}
.blog-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.blog-pagination li {
    margin: 0 5px;
    transition: 0.3s;
}
.blog-pagination li a {
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-pagination li a.active,
.blog-pagination li a:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
}
.blog-author .author-container,
.blog-details .article,
.comment-form form,
.comment-form form input,
.comment-form form input:focus {
    background-color: var(--surface-color);
}
.blog-pagination li a.active a,
.blog-pagination li a:hover a {
    color: var(--contrast-color);
}
.blog-details {
    padding-bottom: 30px;
}
.blog-details .article {
    padding: 30px;
}
.blog-details .post-img {
    margin: -30px -30px 20px;
    overflow: hidden;
}
.blog-details .title {
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    margin: 30px 0;
}
.blog-details .meta-bottom a,
.blog-details .meta-bottom i,
.blog-details .meta-top,
.blog-details .meta-top a,
.blog-details .meta-top i {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
}
.blog-details .content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: 700;
}
.blog-details .content blockquote {
    overflow: hidden;
    background-color: color-mix(in srgb, var(--default-color), transparent 95%);
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
}
.blog-details .content blockquote p {
    color: var(--default-color);
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}
.blog-details .content blockquote:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--accent-color);
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog-details .meta-top {
    margin-top: 20px;
}
.blog-details .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}
.blog-details .meta-bottom .cats li,
.blog-details .meta-bottom .tags li,
.tags-widget ul a,
.tags-widget ul li {
    display: inline-block;
}
.blog-details .meta-top ul li + li {
    padding-left: 20px;
}
.blog-details .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
}
.blog-details .meta-top a {
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}
.blog-details .meta-bottom {
    padding-top: 10px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}
.comment-form form input:focus,
.comment-form form textarea:focus {
    border-color: var(--accent-color);
    box-shadow: none;
}
.blog-details .meta-bottom i {
    display: inline;
}
.blog-details .meta-bottom a {
    transition: 0.3s;
}
.blog-details .meta-bottom .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}
.blog-details .meta-bottom .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}
.blog-details .meta-bottom .tags li + li::before {
    padding-right: 6px;
    color: var(--default-color);
    content: ", ";
}
.blog-details .meta-bottom .share {
    font-size: 16px;
}
.blog-details .meta-bottom .share i {
    padding-left: 5px;
}
.blog-author {
    padding: 10px 0 40px;
}
.blog-author .author-container {
    padding: 20px;
}
.blog-author img {
    max-width: 120px;
    margin-right: 20px;
}
.blog-author h4 {
    font-weight: 600;
    margin-bottom: 0;
    padding: 0;
}
.blog-author .social-links {
    margin: 0 10px 10px 0;
}
.blog-author .social-links a {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    margin-right: 5px;
}
.blog-author p {
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin-bottom: 0;
}
.blog-comments {
    padding: 10px 0;
}
.blog-comments .comments-count {
    font-weight: 700;
}
.blog-comments .comment {
    margin-top: 30px;
    position: relative;
}
.blog-comments .comment .comment-img {
    margin-right: 14px;
}
.blog-comments .comment .comment-img img {
    width: 60px;
}
.blog-comments .comment h5 {
    font-size: 16px;
    margin-bottom: 2px;
}
.blog-comments .comment h5 a {
    font-weight: 700;
    color: var(--default-color);
    transition: 0.3s;
}
.blog-comments .comment h5 .reply {
    padding-left: 10px;
}
.blog-comments .comment time {
    display: block;
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin-bottom: 5px;
}
.blog-comments .comment.comment-reply {
    padding-left: 40px;
}
.comment-form form {
    margin-top: 30px;
    padding: 30px;
}
.comment-form form h4 {
    font-weight: 700;
    font-size: 22px;
}
.comment-form form input {
    color: var(--default-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
    font-size: 14px;
    border-radius: 4px;
    padding: 10px;
}
.comment-form form input:focus {
    color: var(--default-color);
}
.comment-form form input::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
}
.comment-form form textarea,
.comment-form form textarea:focus {
    color: var(--default-color);
    background-color: var(--surface-color);
}
.comment-form form textarea {
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    height: 120px;
}
.comment-form form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
}
.comment-form form .form-group {
    margin-bottom: 25px;
}
.comment-form form .btn-primary {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: var(--accent-color);
    color: var(--contrast-color);
}
.comment-form form .btn-primary:hover {
    color: var(--contrast-color);
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}
.contact .info-item {
    background-color: var(--surface-color);
    padding: 20px 0 30px;
    box-shadow: 0 0 20px rgb(0 0 0 / 0.1);
}
.contact .php-email-form,
.widgets-container {
    background-color: var(--surface-color);
    padding: 30px;
}
.contact .info-item i {
    color: var(--accent-color);
    width: 56px;
    height: 56px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    border: 2px dotted color-mix(in srgb, var(--accent-color), transparent 40%);
}
.contact .info-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}
.contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.contact .php-email-form {
    height: 100%;
    box-shadow: 0 0 20px rgb(0 0 0 / 0.1);
}
@media (max-width: 575px) {
    .contact .php-email-form,
    .get-started .php-email-form {
        padding: 20px;
    }
    .features .nav-link h4 {
        font-size: 16px;
    }
    .projects .portfolio-filters li {
        font-size: 14px;
        margin: 0 5px;
    }
    .project-details .swiper-button-next,
    .project-details .swiper-button-prev {
        display: none;
    }
}
.contact .php-email-form input[type="email"],
.contact .php-email-form input[type="text"],
.contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: var(--surface-color);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}
.contact .php-email-form input[type="email"]::placeholder,
.contact .php-email-form input[type="text"]::placeholder,
.contact .php-email-form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
}
.contact .php-email-form button[type="submit"] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
}
.widgets-container {
    margin: 60px 0 30px;
}
.widget-title {
    color: var(--heading-color);
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px;
}
.widget-item {
    margin-bottom: 40px;
}
.search-widget form {
    background: var(--background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
    padding: 3px 10px;
    position: relative;
    transition: 0.3s;
}
.search-widget form input[type="text"] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
    background-color: var(--background-color);
    color: var(--default-color);
}
.search-widget form input[type="text"]:focus {
    outline: 0;
}
.search-widget form button {
    background: var(--accent-color);
    color: var(--contrast-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
}
.search-widget form button i {
    line-height: 0;
}
.search-widget form:is(:focus-within) {
    border-color: var(--accent-color);
}
.categories-widget ul li {
    padding-bottom: 10px;
}
.categories-widget ul li:last-child {
    padding-bottom: 0;
}
.categories-widget ul a {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    transition: 0.3s;
}
.categories-widget ul a span {
    padding-left: 5px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 14px;
}
.recent-posts-widget .post-item {
    display: flex;
    margin-bottom: 15px;
}
.recent-posts-widget .post-item img {
    width: 80px;
    margin-right: 15px;
}
.recent-posts-widget .post-item h4 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}
.recent-posts-widget .post-item h4 a {
    color: var(--default-color);
    transition: 0.3s;
}
.recent-posts-widget .post-item time {
    display: block;
    font-style: italic;
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
}
.tags-widget {
    margin-bottom: -10px;
}
.tags-widget ul a {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 60%);
    transition: 0.3s;
}
.tags-widget ul a:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
    border: 1px solid var(--accent-color);
}
.tags-widget ul a span {
    padding-left: 5px;
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    font-size: 14px;
}

.logo-text {
    font-size: 15px;
    font-weight: bold;
    color: black; /* Set the color to black */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Arial', sans-serif; /* Change to the font of your choice */
    font-style: italic; /* Makes the text italic */
  }
  